# Database configuration
# The connection string for the SQLite database
DATABASE_URL=sqlite.db

# CORS configuration
# Comma-separated list of allowed origins.
# Locahost:3000 and Localhost:4000 are allowed by default.
# Example: https://myapp.com,https://admin.myapp.com
ALLOWED_ORIGINS=
